@import url('https://fonts.googleapis.com/css?family=Ubuntu Mono');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400&display=swap');

body {
  font-family: 'Roboto Mono:400', monospace;
  background: #101012;
  color: white;
  height: 100%;
  width: 100%;
  margin: 0;
}

a {
  color: #EEE;
  font-style: italic;
}

a:hover {
  color: #ded2a3;
}

#about ul {
  list-style-type: '>';
  margin: 0;
  margin-left: 0;
  padding-left: 0;
}

.fullscreen-bg {
  z-index: 3;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

.fullscreen-section {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: auto;
}

.section-body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 0 auto;
}

.section-body .section-body-text {
  justify-content: center;
  vertical-align: middle;
  padding: 20px;
  font-size: 20px;
  color: #EEE;
  text-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.fullscreen-bg {
  -webkit-transition: background 1s linear;
  transition: background 1s linear;
}

#works .section-body-text {
  text-align: center;
}

.owl-carousel > .slide {
  width: 100%;
  background: white;
  text-align: center;
  margin: auto;
  justify-content: center;
}

#works .project-links > a {
  text-decoration: none;
  font-style: normal;
  font-family: 'Roboto Mono', monospace;
  font-size: 13px;
  padding: 5px;
  color: #EEE;
  border: 2px solid #EEE;
  border-radius: 5px;
}

#works .project-links > a:hover {
  color: #ded2a3;
  border: 2px solid #ded2a3;
}

#armtimeconverter-img {
  height: 150px;
  background-image: url("./assets/armtimeconverter.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.header {
  padding: 20px;
}
.header-text {
  font-size: 50px;
  font-family: 'Ubuntu Mono', monospace; 
  color: #EEE;
  text-shadow: 1px 1px 1px rgba(255,255,255,.5),
  -1px -1px 1px rgba(0,0,0,1);
}

.section-body .header {
  vertical-align: middle;
}

#header {
  background-image: url('./assets/flower.jpeg');
  position: relative;
  text-align: center;
}

.type::after {
  content: "|";
  display: inline-block;
  animation: caretPulsate 1s linear infinite;
  -webkit-animation: caretPulsate 1s linear infinite;
}

@keyframes caretPulsate {
  0% {opacity:1;}
  50% {opacity:1;}
  60% {opacity:0;}
  100% {opacity:0;}
}

@-webkit-keyframes caretPulsate {
  0% {opacity:1;}
  50% {opacity:1;}
  60% {opacity:0;}
  100% {opacity:0;}
}

#navigation {
  position: absolute;
  bottom: 20px;
  left: 0px;
  right: 0px;
}

.navigation-link {
  color: #EEE;
  text-shadow: -1px -1px 0px rgba(0,0,0,.3),
  1px 1px 1px rgba(0,0,0,.5),
  1px 1px 1px rgba(256,256,256,.3);
  text-decoration: none;
}

.nav-list {
  padding: 10px;
  position: relative;
  margin: 0 10px;
  text-align: center;
}

.nav-list li {
  margin: 10px;
  display: inline;
  list-style: none;
  white-space: nowrap;
}

#about {
  background: #EEE;
  background-image: repeating-linear-gradient(
    45deg,
    #49443A,
    #49443A 10px,
    #101012 10px,
    #101012 20px
  );
  background-attachment: fixed;
}

#about-header {
  text-shadow: 2px 2px 2px rgba(256,256,256,.3),
  -1px -1px 2px rgba(0,0,0,.3);
}

#about-body > .section-body-text {
  display: table;
}

#about-skill-names ul {
  padding-left: 15px;
}

#about-skill-names ul ul {
  padding-left: 25px;
  color: #AAA;
}

#contact {
  background: #EEE;
}

#contact-header {
  color: #242428;
}

#contact .type::after {
  content: "";
  display: inline-block;
  vertical-align: 0%;
  width: .4em;
  height: 4px;
  background: #242428;
  box-shadow: 1px 1px 2px rgba(255,255,255,.2),
  -1px -1px 2px rgba(0,0,0,1);
  animation: caretPulsate 1s linear infinite;
  -webkit-animation: caretPulsate 1s linear infinite;
}

#social-media-buttons a {
  margin: 0 10px;
  font-size: 100px;
  color: #252529;
}

#contact-body .section-body-text {
  text-align: center;
  color: #252529;
}

u {
  font-family: mono;
}

li.inner-list {
  list-style-type: none;
}

@media screen and (max-width: 500px) {
  .header-text {
    font-size: 30px;
  }

  .section-body .section-body-text {
    font-size: 15px;
  }

  #works .section-body-text {
    width: 200px;
  }
}

@media screen and (min-width: 500px) {
  #works .section-body-text {
     width: 300px;
  } 
}

@media screen and (min-width: 800px) {
  #works .section-body-text {
     width: 500px;
  } 
}

@media screen and (min-width: 1000px) {
  #works .section-body-text {
     width: 800px;
  } 
}
